body{
	font-family: "Outfit", sans-serif;
	text-align: center;
	background-image: url(https://www.sumitomocorp.com/mideast-africa/-/media/Images/hq/news/topics/2023/20230531/02.jpg?h=405&iar=0&w=720);
}

